.Card {
  display: block;
  width: 100%;
  border-radius: 5px;
  min-height: 20rem;
  height: max-content;
  background-color: #fff;
  box-shadow: 0 1px 15px rgba(30, 28, 28, 0.2), 0 1px 6px rgb(0 0 0 / 4%);
  margin-top: -1.5rem !important;
  padding-left: 0.1rem;
  padding-bottom: 0.5rem;
}
.card_inputArea {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0rem 0.5rem 0rem 0.5rem;
}
.cardTitle {
  border-bottom: 2px solid #922c88;
  width: 95.5%;
  padding: 5px;
  font-size: 1rem;
  padding-bottom: 0.7rem;
  margin-bottom: 8px;
  padding-top: 1rem;
  margin-left: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardTitleLabel {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.checkbox {
  margin: 7px;
  width: 15.86rem;
  display: flex;
}
.checkboxLabel {
  margin-top: 0.4rem;
}
input:not([type="radio"]),
.dropdown {
  border-radius: 0.1rem;
  outline: initial !important;
  box-shadow: none !important;
  font-size: 0.9rem;
  /* border: 1px solid #d7d7d7; */
  background: #fff;
  color: #3a3a3a;
  height: auto;
  /* padding: 0.7rem 0.75rem ; */
  line-height: 1;
  /* margin: 7px; */
  margin-bottom: 1px;
  margin-right: 2px !important;
  width: 14.75rem;
  text-overflow: ellipsis;
}
input[type="checkbox"] {
  width: 15% !important;
}
input:focus {
  /* border: 1px solid #922c88; */
}
.multiSelect {
  margin: 6px;
  width: 16.25rem;
}
input[type="date"] {
  width: 14.8rem;
  padding: 0.64rem 0.75rem !important;
}
.radioButton {
  border: 1px solid #d7d7d7;
  color: #3a3a3a;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 0.7rem 0.75rem;
  width: 31.2rem;
}
input [type="radio"] {
  display: inline-flex;
  background-color: yellowgreen;
}
.dropdown:focus {
  border: 1px solid #922c88 !important;
}
.dropdown {
  align-items: center;
  width: 16.5rem;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 38px;
  position: relative;
  transition: all 100ms ease 0s;
  box-sizing: border-box;
  outline: 0px !important;
  margin-bottom: 1px;
}
textarea {
  border-radius: 0.1rem;
  outline: initial !important;
  box-shadow: none !important;
  font-size: 0.8rem;
  border: 1px solid #d7d7d7;
  padding: 0.5rem 0.75rem;
  margin: 7px;
  margin-bottom: 1px;
}
textarea:focus {
  border: 2px solid #922c88;
}
.save {
  background-color: #922c88;
}
.table {
  margin: 7px;
  width: 33.5rem;
}
.hidden {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}
input[type="radio"] {
  cursor: pointer;
  float: left;
}
.tableHeadings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 32rem;
  position: relative;
  padding: 0;
}
.field {
  width: 40rem;
  padding: 0.5rem;
  margin-left: 0.2rem;
}
.subHeading {
  width: 50%;
}
.subHeading_Select {
  width: 40%;
  margin-left: 1rem;
  padding: 0.5rem;
}
.tableDataSpace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-right: 4.8rem;
}
.space-between {
  display: flex;
  justify-content: space-between;
  width: 34%;
  margin-right: 1rem;
}
.default {
  margin-right: 5rem !important;
}
.defaultt {
  margin-right: 0rem !important;
}
.dropdown_table {
  border-radius: 0.1rem !important;
  outline: initial !important;
  box-shadow: none !important;
  font-size: 0.8rem !important;
  border: 1px solid #d7d7d7 !important;
  background: #fff !important;
  color: #3a3a3a !important;
  height: auto !important;
  padding: 0.2rem 0.7rem !important;
  margin-bottom: 1px !important ;
  margin-right: 2px !important;
  text-overflow: ellipsis !important;
  margin: 0.5rem !important;
}
.dropdown_table:focus {
  border: 1px solid #922c88;
}
.ml {
  margin-left: 0.6rem;
}
.textInput {
  border-radius: 0.1rem;
  outline: initial !important;
  box-shadow: none !important;
  font-size: 0.8rem;
  border: 1px solid #d7d7d7;
  background: #fff;
  color: #3a3a3a;
  height: 1.5rem !important;
  padding: 0rem 0.2rem !important;
  line-height: 0 !important;
  margin: 7px;
  margin-bottom: 1px;
  margin-right: 2px !important;
  width: 5.85rem !important;
  text-overflow: ellipsis;
}
.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.Button {
  margin: 0.2rem;
  background-color: #922c88;
  border: 1px solid #922c88;
  color: #fff;
  border-radius: 25px;
  padding: 10px;
  min-width: 5%;
  width: max-content;
  cursor: pointer;
}
.Mui-FocusVisible ,
.MuiButton-contained{
  margin: 0.2rem !important;
  background-color: #922c88 !important;
  border: 1px solid #922c88 !important;
  color: #fff !important;
  border-radius: 25px !important;
  padding: 8px !important;
  min-width: 5% !important;
  width: max-content !important;
  cursor: pointer !important;
  font-size: 13px !important;
  text-transform: none !important;
}
.centeredButton {
  margin: 14rem 8rem 0rem 14rem;
}
/* mui inputs labels on click */
.PrivateNotchedOutline-legendLabelled-3 {
  font-size: 0.6rem !important;
}
.MenuItem {
  background-color: white;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  padding-left: 8px;
}
.MenuItem:hover{
  background-color: #d7d7d7;
  cursor: pointer;
}
/* datepicker's icon */
.css-1laqsz7-MuiInputAdornment-root{
  padding-right: 12px;
}
.phasesButtonContainer{
  display: flex;
  justify-content: space-between;
}
/* MUi-input on focus */
.Mui-focused fieldset,.MuiInput-underline:after{
  border: 2px solid #922c88 !important;
}
label.Mui-focused{
  color: #922c88 !important;
}
/* dropdown floating label */
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  padding: 0px 0.32em !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
  font-size: none !important;
}