.Navbar {
  color: #922c88;
  z-index: 3;
  display: flex;
  position: fixed;
  flex-direction: column;
  background-color: #fff;
  width: 115px;
  top: 62px;
  box-shadow: 0 1px 15px rgb(0 0 0 / 20%), 0 1px 6px rgb(0 0 0 / 4%);
  padding-right: unset;
  margin-right: unset;
  transition: border-radius 0.3s;
  float: left;
  height: calc(100% - 62px);
  overflow-y: hidden;
}
.scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}
.scroll:hover {
  overflow-y: auto;
}
.scroll::-webkit-scrollbar {
  margin-top: 5px;
  width: 5px;
  height: 66px;
}
.scroll::-webkit-scrollbar-track {
  top: 5px;
  border: 1px solid #d7d7d7;
  padding: 2px 0;
  background-color: #d7d7d7;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #999;
  border: 1px solid #999;
}
.Navbar .scroll li {
  display: flex;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  border-bottom: 1px solid #f3f3f3;
  padding-left: 0px !important;
  transition: background 0.3s;
  width: 100%;
  cursor: pointer;
  height: 3.2rem;
}
.Navbar .scroll:hover {
  cursor: pointer;
}
.Navbar .scroll li:hover {
  border: 2px solid #922c88;
  /* font-weight: bold; */
  /* border-radius: 10px; */
}
.Navbar .scroll li:hover a span {
  /* color: #922c88; */
}
.Navbar .scroll li.active {
  /* border-left: 5px solid #922c88;
  border-top: 1px solid #922c88;
  border-bottom: 1px solid #922c88;
  border-right: 1px solid #922c88; */
  /* border-radius: 15px; */
  font-weight: bold;
  background-color: purple;
}
.Navbar .scroll li.active a span {
  color: white;
}
img {
  margin-right: 5px;
  margin-top: 5px;
}
.Navbar .scroll li a {
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 8rem;
  padding: 0.2rem 0 0 0.5rem;
  margin: 0px !important;
}
img {
  margin-bottom: 10px;
  font-weight: bolder;
  cursor: pointer;
}
.Navbar .scroll li a span {
  color: #000;
  margin-right: 5px;
}
.Navbar .scroll li a span:hover,
li:hover {
  /* color: #922c88; */
}
