/* .Navbar2 {
    background-color:#922c88;
    box-shadow: 0 1px 15px rgb(0 0 0 / 20%), 0 1px 6px rgb(0 0 0 / 4%);
    transition: border-radius .3s;
    font-weight: bold;
    align-items: center;
    overflow-x: hidden;
    position: fixed;
}
.scroll2{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    overflow-x: hidden;
    width: 80rem;
}
.scroll2:hover{
    overflow-x: auto;
}
.scroll2::-webkit-scrollbar{
    margin-top:5px;
    height: 5px;
}
.scroll2::-webkit-scrollbar-track {
    top:5px;
    border: 1px solid #d7d7d7;
    background-color: #d7d7d7;
  }
  .scroll2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #999;
    border: 1px solid #999;
  }
  .Navbar_item {
    border-right: 2px solid #d7d7d7;
    display: flex;
    justify-content: center;
    align-items: center;
  }

a:focus{
    color: #922c88;
    border: 2px solid #dc3545;
    border-radius: 10px;
} */
