.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 9px 0px !important;
  width: 12.7rem !important;
}
/* datepicker input mm/dd/yyyy */
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 0.85rem !important;
  margin-top: -7px !important;
}

.MuiInputBase-formControl
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    padding-left: 0.7rem !important;
    padding-top: 0.85rem !important;
    width: 12.45rem !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{

  color: #909394 !important;

}



.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {

  border-color: #909394 !important;

}




.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {

  border-color: #909394 !important;

}
/* datepicker calender divs */

.css-169iwlq-MuiCalendarPicker-root{
    width: 315px !important;
}
.css-epd502 {
    width: 315px !important;
    height: 220px !important;
}
.css-1cnkspq{
    min-height: 195px !important;
}

