.multiselect {
  width: 100%;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 101.5%;
  margin-left: unset;
  margin-top: 1px !important;
  margin-right: 0px !important;
}

.overSelect {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

#mySelectOptions {
  display: none;
  border: 0.5px #7c7c7c solid;
  background-color: #ffffff;
  max-height: 150px;
  overflow-y: scroll;
}
#mySelectOptions::-webkit-scrollbar {
  margin-top: 5px;
  width: 5px;
  height: 66px;
  cursor: pointer;
}
#mySelectOptions::-webkit-scrollbar-track {
  border: 1px solid #d7d7d7;
  padding: 2px 0;
  background-color: #d7d7d7;
  cursor: pointer;
}
#mySelectOptions::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #999;
  border: 1px solid #999;
  cursor: pointer;
}
#mySelectOptions label {
  display: block;
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  background-color: #ffffff00;
  padding: 0 2.25rem 0 0.75rem;
}

#mySelectOptions label:hover {
  background-color: lightgray;
  cursor: pointer;
}
.MuiCheckbox-colorSecondary.Mui-checked {
  color: #922c88 !important;
  }